<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>transcriptube</title>
  </head>
  <body>
    <h1 class="logo">TRANSCRIPTUBE</h1>
    <h4 class="tagline">Transcribe any voice or podcast from youtube!</h4>
    <br />

    <div id="container">
      <br />
      <br />

      <input type="text" id="transcriptUrl" placeholder="enter youtube link" />
      <br />
      <button id="transcript-buttton" onclick="getdata()">transcript</button>

      <br />
      <br />
      <br />

      <div id="script"></div>

      <br />
      <br />
      <br />
    </div>

    <script type="text/javascript">
      const getdata = (data) => {
        var data = document.getElementById("transcriptUrl").value;
        document.querySelector("#script").innerHTML = "Loading transcript.... <br> <p style='color: #73717f'> it can take upto 3 minutes sometimes! </p>";
        fetch("/api/transcript", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ url: data }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            document.querySelector("#script").innerHTML = data.script;
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      };
    </script>
  </body>
</html>
